@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
}
.clock{
    width: 100%;
    min-height:100vh;
    background-color: rgb(175, 186, 195);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    height: 150px;
    background-color: rgb(51, 49, 49);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.time{
    /* position: relative; */
    width : 80px;
    margin: 0px 0px;
    padding: 0 5px;
    height: 80%;
    font-size: 100px;
    overflow: hidden;
}
.b{
    height: 100%;
    text-align: center;
    /* position: absolute; */
    background-color: black;
    width : 80px;
}
p{
    font-size: 100px;
}


.visible{
    height: 50vh;
    border: 1px solid red;
    /* overflow: hidden; */
    visibility: visible;
}
.tb{
    height: 50vh;
    border: 1px solid red;
    /* overflow: hidden; */
    visibility: hidden;
}
.tbody{
    display: flex;
    flex-direction: column;
    height: 86%;
    width: 100vw;
    overflow:scroll;
    font-size: 1.3vw;
}
.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1vw 0;
    border-bottom: 0.04vw solid grey;
}
.c1{
    width:10%;
    height:100%;
    text-align: center;
}
.tbody .c2{
    width: 10%;
    align-self: flex-start;
    padding:0 2vw 0 0;
}
.tbody2{
    display: flex;
    flex-direction: column;
    width: 100vw;
    font-size: 1.5vw;
} 
.tbody2 .c2{
    width: 10%;
    align-self: center;
    padding:0 2vw 0 0;
}


